{
  "extends": [
    "plugin:@shopify/esnext",
    "plugin:@shopify/react"
    // "plugin:@shopify/typescript",
  ],
  "rules": {
    "@shopify/jsx-no-hardcoded-content": "off",
    "react/prop-types": "off",
  }
}
