/* Global App styles live here */
/* See component folders for individual component style modules */

.app {
  display: -ms-grid;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

main {
  margin: 20px;

  @media screen and (min-width: 1250px) {
    padding: 0 calc((100% - 1200px) / 2);
  }

  @media screen and (max-width: 800px) {
    padding: 0 10px;
  }
}
