.Post {
  list-style: none;
  // border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
  padding-bottom: 15px;
}

.User {
  a {
    text-decoration: none;
  }
}

.PostInner {
  display: grid;
  grid-gap: 10px;
}

.Tag {
  color: #89cff0;
}

.Timestamp {
  color: #bbb;
  display: block;
}

.Gravatar {
  margin-right: 10px;
  margin-top: 5px;
}
