{
  "extends": ["plugin:@shopify/esnext", "plugin:@shopify/react"],
  "rules": {
    "@shopify/jsx-no-hardcoded-content": "off",
    "react/prop-types": "off",
    "no-unlimited-disable": "off"
  }
}
